$button-name: 'alert';

@mixin alert-theme($color, $name) {
  background: $color;

  @if $name == 'default' or $name == 'light' {
    color: #333333;
  } @else {
    color: #ffffff;
  }

  hr{
    border-top-color: lighten($color, 10%);
  }
}

#{$base-name}-#{$button-name}{
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  @include alert-theme(#dddddd, 'default');

  @each $name, $color in $colors {
    &#{$base-name}-#{$button-name}-#{$name}{
      @include alert-theme($color, $name);
    }
  }

  &__header{
    font-size: 1.5em;
    margin-top: 0;
  }
}