$button-name: 'btn';

@mixin button-theme($color, $name) {
  background: $color;

  @if $name == 'default' or $name == 'light' {
    color: #333333;
  } @else {
    color: #ffffff;
  }

  &:hover:not(#{$base-name}-#{$button-name}-#{$disabled}) {
    background:darken($color, 15%);
    transition: all 0.3s ease;
  }
  &:active:not(#{$base-name}-#{$button-name}-#{$disabled}) {
    background:darken($color, 25%);
  }
  &:focus:not(#{$base-name}-#{$button-name}-#{$disabled}) {
    box-shadow: 0 0 0 0.2rem rgba($color, 0.5);
  }
}

#{$base-name}-#{$button-name}{
  border: none;
  border-radius: 3px;
  margin: 0 5px;
  outline: 0;
  cursor: pointer;
  @include button-theme(#dddddd, 'default');
  
  &#{$base-name}-#{$button-name}-#{$small}{
      padding: 3px 5px;
      font-size: 0.8em;
  }
  &#{$base-name}-#{$button-name}-#{$medium}{
      padding: 5px 10px;
      font-size: 1.2em;
  }
  &#{$base-name}-#{$button-name}-#{$large}{
      padding: 7px 15px;
      font-size: 1.6em;
  }
  @each $name, $color in $colors {
    &#{$base-name}-#{$button-name}-#{$name}{
      @include button-theme($color, $name);
    }
  }
  &#{$base-name}-#{$button-name}-#{$disabled}{
    opacity: .65;
    cursor: no-drop;
  }
}