// Base
$base-name: '.s4n';
// Sizes
$small: 'small';
$medium: 'medium';
$large: 'large';
// Colors
$colors: (
  primary: #3088e6,
  warning: #efc138,
  error: #e83e4f,
  success: #31ad4d,
  info: #25acc1,
  dark: #393e44,
  light: #f8f9fa
);
// State
$disabled: 'disabled'
